HELP.md
build/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle
gradle/wrapper/*
src/test/resources/config/auth.properties
src/test/resources/config/remote.properties
gradlew
gradlew.bat


### Logs ###
*.log
